.venv/
.conda/
.pip-cache/
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
logs/*
!logs/.gitkeep
data/screenshots/*
!data/screenshots/.gitkeep
data/videos/*
!data/videos/.gitkeep
data/annotations/*
!data/annotations/.gitkeep
*.DS_Store
.idea/
.vscode/

